# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/svv_ams?schema=public"

# Server
PORT=4000
NODE_ENV=development
JWT_SECRET="svv-ams-super-secure-jwt-secret-key-2026"
JWT_EXPIRES_IN="7d"

# Uploads
UPLOAD_DIR="./uploads"
